body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav{
  text-align: end;
  padding: 0 10px;
}

a{
  color: coral;
  text-decoration: none;
  transition: all .25s ease;
  padding: 10px;
  font-weight: 500;
}

a:hover {
  color: rgb(0, 173, 173);
  text-decoration: underline;
}

.main-nav a {
  display: inline-block;
  padding: 30px 50px 30px 0px;
}




h1 {
  color: coral;
  background-color: white;
  margin: 0px 50px 70px 50px;
  border: dashed 110px papayawhip;
  font-size: 6vw;
  padding: 20px 0 30px 0;
}

p {
  margin: 40px 0;
  font-weight: 500;
  font-size: larger;
  color: rgb(65, 65, 65);
}

.btn-outline-primary {
  color: coral;
  border-color: coral;
}


.btn-outline-primary:hover {
    color: #fff;
    background-color:coral;
    border-color: coral;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: coral;
  border-color: coral;
}

.form-control:focus {
  color: rgb(65, 65, 65);
  background-color: #fff;
  border-color: coral;
}

/* .form-control {
  border: 1px solid rgb(163, 163, 163);
} */
form {
  margin-bottom: 50px;
}

label {
font-weight: 500;
color: rgb(65, 65, 65);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(65, 65, 65) !important;
}
.chat-list {
  color: rgb(65, 65, 65);
}

.chat-list .col-1 {
  text-align: center;
}

.chat-list strong {
  color:coral;
}

.chat-list li{
  text-align: start;
}

.chatMessage {
  margin-bottom: 10px;
}


@media (max-width: 575.98px) { 

 }


@media (max-width: 767.98px) { 
  
 }

@media (max-width: 991.98px) { 
  
 }


@media (max-width: 1199.98px) { 

 }
